<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletPackage.ServletLogin</servlet-name>
        <servlet-class>ServletPackage.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPackage.ServletEmployee</servlet-name>
        <servlet-class>ServletPackage.EmployeeServletPackage.ServletEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEmployee</servlet-name>
        <jsp-file>/InsertEmployee.jsp</jsp-file>
        <init-param>
            <param-name>Ins</param-name>
            <param-value> </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SelectTable</servlet-name>
        <jsp-file>/Pages/SelectTable.jsp</jsp-file>
        <init-param>
            <param-name>sel</param-name>
            <param-value> </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletPackage.ServletInsertEmployee</servlet-name>
        <servlet-class>ServletPackage.EmployeeServletPackage.ServletInsertEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPackage.ServletUpdate</servlet-name>
        <servlet-class>ServletPackage.EmployeeServletPackage.ServletEmployeeUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPackage.ServletEmployeeDelete</servlet-name>
        <servlet-class>ServletPackage.EmployeeServletPackage.ServletEmployeeDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPackage.EmployeeServletPackage.ServletSH1</servlet-name>
        <servlet-class>ServletPackage.SH1ServletPackage.ServletSH1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSH1</servlet-name>
        <jsp-file>/Pages/InsertSH1.jsp</jsp-file>
        <init-param>
            <param-name>InsertSH1</param-name>
            <param-value> </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertSH1</servlet-name>
        <url-pattern>/InsertSH1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPackage.EmployeeServletPackage.ServletSH1</servlet-name>
        <url-pattern>/ServletSH1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPackage.ServletEmployeeDelete</servlet-name>
        <url-pattern>/ServletEmployeeDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPackage.ServletUpdate</servlet-name>
        <url-pattern>/ServletUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPackage.ServletInsertEmployee</servlet-name>
        <url-pattern>/ServletInsertEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectTable</servlet-name>
        <url-pattern>/SelectTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEmployee</servlet-name>
        <url-pattern>/InsertEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPackage.ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPackage.ServletEmployee</servlet-name>
        <url-pattern>/ServletEmployee</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>